.custom_button {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &[data-variant="solid"] {
    &[data-color="green"] {
      background-color: var(--color-green-main);
      color: var(--color-white-main);
    }

    &[data-color="white"] {
      background-color: var(--color-white-main);
      color: var(--color-blue-main);
    }

    &[data-color="blue"] {
      background-color: var(--color-blue-main);
      color: var(--color-white-main);
    }
  }

  &[data-variant="outlined"] {
    &[data-color="green"] {
      background-color: rgba(0, 0, 0, 0.1);
      color: var(--color-green-main);
      border: 1px solid var(--color-green-main);
    }

    &[data-color="white"] {
      background-color: rgba(0, 0, 0, 0.1);
      color: var(--color-white-main);
      border: 1px solid var(--color-white-main);
    }

    &[data-color="blue"] {
      background-color: rgba(0, 0, 0, 0.1);
      color: var(--color-blue-main);
      border: 1px solid var(--color-blue-main);
    }
  }

  &:active {
    opacity: 0.9;
  }

  @media screen and (hover: hover) {
    &:hover {
      &[data-variant="solid"] {
        &[data-color="green"] {
          box-shadow: var(--shadow-btn-green);
        }

        &[data-color="blue"] {
          box-shadow: var(--shadow-btn-blue);
        }

        &[data-color="white"] {
          box-shadow: var(--shadow-btn-white);
        }
      }

      &[data-variant="outlined"] {
        &[data-color="green"] {
          box-shadow: var(--shadow-btn-green);
          background-color: var(--color-green-main);
          color: var(--color-white-main);
        }

        &[data-color="blue"] {
          box-shadow: var(--shadow-btn-blue);
          background-color: var(--color-blue-main);
          color: var(--color-white-main);
        }

        &[data-color="white"] {
          box-shadow: var(--shadow-btn-white);
          background-color: var(--color-white-main);
          color: var(--color-blue-main);
        }
      }
    }
  }
}
